<%= form_for @rider, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :routeID, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :routeID, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stopID, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :stopID, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :studentCount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :studentCount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cashCount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cashCount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :halfCount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :halfCount, :class => 'text_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                riders_path, :class => 'btn' %>
  </div>
<% end %>
